name: Continous Deployment

on:
  workflow_run:
    workflows: ["Continuous Integration"]     # sesuai nama workflow CI di atas
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.head_branch == 'main' && github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Run script
        run: echo ${{secrets.SSH_HOST}}
      - name: Deploy app
        uses: 'appleboy/ssh-action@master'
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USERNAME}}
          password: ${{secrets.SSH_PASSWORD}}
          port: ${{secrets.SSH_PORT}}
          script: |
            cd cicd-github-action/
            ls -a
            git pull origin main
            sudo npm install
            sudo pm2 restart cicd-github-action
