name: Continous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy app
        uses: 'appleboy/ssh-action@master'
        with:
          host: ${{secret.SSH_HOST}}
          username: ${{secret.SSH_USERNAME}}
          password: ${{secret.SSH_PASSWORD}}
          port: ${{secret.SSH_PORT}}
          script: |
            cd cicd-github-action/
            git pull origin main
            npm install
            pm2 restart cicd-github-action
  