name: Continous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Run script
        run: echo ${{secrets.SSH_HOST}}
      - name: Deploy app
        uses: 'appleboy/ssh-action@master'
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USERNAME}}
          password: ${{secrets.SSH_PASSWORD}}
          port: ${{secrets.SSH_PORT}}
          script: |
            echo "user: $(whoami)"
            cd cicd-github-action/
            ls -a
            git pull origin main
            npm install
            pm2 restart cicd-github-action

  