name: Continuous Deployment

concurrency:
  group: ci-node-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@4
      - name: 'Setup Node v22'
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'
      - name: 'Install Depedencies'
        run: npm ci
      - name: 'Build if present'
        run: npm run build --if-present
      - name: 'Run test'
        run: npm test